{% extends 'answer/layout.html' %}

{% block content %}
  <!-- Masthead -->
  {% load static %}
  <header class="masthead-search">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
          <h1 class="text-uppercase text-white font-weight-bold">{{ name }} </h1>
          <hr class="divider my-4">
        </div>
      </div>
    </div>
  </header>
  <div class="row h-250 align-items-center justify-content-center text-center">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-3">
                <img class="img-thumbnail" src="{{ picture }}" alt="{{ name }}"><p></p>
                <a href="{{ link }}" target="_blank"> <h6>Voir fiche complète</h6> </a><p></p>
                <form action="{% url 'application' %}" method="get" accept-charset="utf-8">
                    <button class="btn btn-secondary btn-xs js-scroll-trigger" name="app-query" type="submit" value="{{ name }}">remplacer</button>
                </form>
                {%  if user in product.favorites.all %}
                    <form action='{%  url 'defavorite_product' %}' method="post">
                        {%  csrf_token %}
                        <button name="defav-btn" type="submit" value="{{ product.id }}" class="btn btn-tertiary btn-xs js-scroll-trigger">Retirer des favoris</button>
                    </form>
                {%  else %}
                    <form action='{%  url 'favorite_product' %}' method="post">
                        {%  csrf_token %}
                        <button name="fav-btn" type="submit" value="{{ product.id }}" class="btn btn-secondary btn-xs js-scroll-trigger">Ajouter aux favoris</button>
                    </form>
                {%  endif %}
            </div>
            <div class="col-lg-8 text-justify">
                <div class="detail_section">
                    <h5>Nutriscore : {{ nutriscore|upper }}</h5>
                    <h5>Magasins : {{ shops }}</h5>
                    <h5>Ingrédients :</h5><p>{{ ingredients }}</p>
                    {% if is_bio %}<h5>Labels : {{ labels|upper }}</h5>
                    <img alt="Bio" src="{% static 'answer/img/bio.jpg'%}">{% endif %}
                </div>
            </div>
        </div>
    </div>
  </div>
{% endblock %}
