{% extends 'answer/layout.html' %}

{% block content %}
  <!-- Masthead -->
  <header class="masthead-search">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
          <h1 class="text-uppercase text-white font-weight-bold">{{ title }} </h1>
          <hr class="divider my-4">
        </div>
      </div>
    </div>
  </header>
  <div class="row h-250 align-items-left justify-content-center text-center">
    <ul>
        {% for dict in products_url_and_names %}
          {% for name, url_name in dict.items %}
              <a href="#">{{ name }}</a>
              <form action="{% url 'application' %}" method="get" accept-charset="utf-8">
                <button name="app-query" type="submit" value="{{ name }}">chercher</button>
              </form>
          {% endfor %}
        {% endfor %}
        {{ element }}
    </ul>
  </div>
{% endblock %}
