{% extends 'users/layout.html' %}

{% block content %}
  <div class="content-section-fav">
    <div class="row justify-content-md-center">
        <div class="col-md-12 text-center">
          <h2>{{ title }}</h2>
          <hr class="divider my-4">
        </div>
      </div>
    </div>
      <div class="row h-250 align-items-center justify-content-center text-center">
        {% for product in products_list %}
            <div class="col-sm-4 text center">
                <div class="result-display">
                    <div class="product_pic">
                        <a href="{% url 'detail' product_id=product.id %}">
                            <img class='product' src="{{ product.picture }}" alt="{{ product.name }}">
                        </a>
                    </div>
                    <div class="prod_name">
                        <a href="{% url 'detail' product_id=product.id %}">
                        <h4>{{ product.name }}</h4></a>
                    </div>
                    <form action='{%  url 'defavorite_product' %}' method="post">
                        {%  csrf_token %}
                        <button name="defav-btn" type="submit" value="{{ product.id }}" class="btn btn-secondary btn-xs js-scroll-trigger">Retirer des favoris</button>
                    </form>
                    <div class="nc_round"><h2>{{ product.nutriscore|upper }}</h2></div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}<div class="clearfix"></div>{% endif %}
        {% endfor %}
      </div>
{% endblock %}
